<%- include('../partials/header') -%>
<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Our Rooms</h1>
        <h2>We have different classes of rooms, just the right size, just the right space for you. It is the perfect
          place for your relaxation</h2>
        <h6 class="card-title text-success mt-2">&#8358; <span> 25,000 / per night</span></h6>
        <div><a href="/book" class="btn-get-started scrollto">Book Now</a></div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        <img src="../assets/img/hotel_3.jpg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section>
 <!-- =======Room Gallery Section ======= -->
 <section id="work" class="gallery-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a mt-4">
            Our Rooms
          </h3>
          <p class="subtitle-a px-4 title-ss">
            Below are some of our rooms available. Feel free to check through and make the perfect choice for maximum comfort.
          </p>
          <div class="line-m"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <% rooms.forEach((room)=>{%> 
      <div class="col-md-4">
        <div class="work-box">
          <a href="<%= room.imgUrl %>" data-gall="galleryGallery" class="venobox">
            <div class="work-img">
              <img src="<%= room.imgUrl %>" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title"><%= room.category %></h2>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="/rooms/<%= room.id %>"> <span class="btn btn-secondary">ViewRoom</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

     
      <%})%>
      </div>
    </div>
    <!-- <div class="view">
      <a href="/gallery" id="LoadMore" class="btn-read_more scrollto mb-5">See More</a>
    </div> -->
    <br>

</section>



<%- include('../partials/footer') -%>