<%- include('../partials/header') -%>
<div class="intro intro-single route bg-image" style="background-image: url(<%= room.imgUrl %>)">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">

        <h2 class="intro-title mb-4"><span style="color: #263238">Sin</span><span style="color: #263238">gle</span>
          <a href="/addRoom">
            <span style="color: #f5f5f5">Ro</span><span style="color: #f5f5f5">om</span> 
          </a>
        </h2>
      </div>
    </div>
  </div>
</div>

<main id="bg">


  <section class="gallery-details">
    <div class="container">

      <div class="gallery-details-container">

        <div class="owl-carousel gallery-details-carousel">
          <img src="<%= room.imgUrl %>" class="img-fluid" alt="">
          <img src="https://res.cloudinary.com/minalabels/image/upload/v1614189491/bathroom_hz6fiv.jpg" class="img-fluid" alt="">
          <img src="https://res.cloudinary.com/minalabels/image/upload/v1614189617/couch_awm9wo.jpg" class="img-fluid" alt="">
        </div>

        <div class="gallery-info" id="bg">
          <h3>Gallery information</h3>
          <ul>

            <li><strong>Category</strong>: <%= room.category %></li>
            <li><strong>Cost</strong>: <%= room.cost %></li>
            <li><strong>Date Created</strong>: <%= room.createdAt.toLocaleDateString() %></li>
            <li> <a href="/book" class="btn btn-secondary mt-2">Book Now</a></li>
          </ul>
        </div>

      </div>
      <a href="/rooms" class="btn btn-secondary mt-3 mb-3">Back to Rooms</a>
    </div>
    <div class="gallery-description">
      <h2 class="px-3">Description of the Room</h2>
      <p class="pb-5 px-4">
        <%= room.description %>
      </p>
    </div>
    </div>
  </section>



</main>
<%- include('../partials/footer') -%>